/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
:root {
    --width: 720px;
    --font-main: "Syne", sans-serif;
  	--font-scale: 1.3em;
    --background-color: #1f1e1d;
    --heading-color: #d9d8dc;
    --text-color: #d9d8dc;
    --link-color: #eb99a1;
    --visited-color:  #e26f7a;
    --code-background-color: #40363a;
    --code-color: #d9d8dc;
    --blockquote-color: #d9d8dc;
}

body {
    font-family: var(--font-main);
  	font-size: var(--font-scale);
	font-optical-sizing: auto;
  	font-weight: 500;
  	font-style: normal;
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
  	font-weight: 800;
    color: var(--heading-color);
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
	color: var(--visited-color);
}

nav a {
    margin-right: 8px;
}

strong, b {
    color: var(--heading-color);
}

button {
    margin: 0;
    cursor: pointer;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px solid var(--link-color);
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
}

blockquote {
    border-left: 5px solid var(--link-color);
  	padding: 0 15px;
  	margin: 15px 0;
  	line-height: 2;
  	font-size: 16px;
  	background-color: var(--code-background-color);
    color: var(--code-color);
}

footer {
    padding: 25px 0;
    text-align: center;
}

.title h1 {
 	color: var(--link-color); 
}

.title h1:hover {
  	color: var(--visited-color);
}

.inline {
    width: auto !important;
}

.highlight, .code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

.video-container {
  	width: 100%;
  	aspect-ratio: 16 / 9;
}

.video {
  	width: 100%;
  	height: 100%;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
 	min-width: 150px; 
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}